.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

form input {
  width: 48%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
}

th {
  background-color: #f8f9fa;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:first-child {
  background-color: #007bff;
  color: white;
}

button:last-child {
  background-color: #dc3545;
  color: white;
}


/* App.css */

body {
  background: linear-gradient(to right, #e66465, #9198e5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Ensure no margin on the body */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: white; /* White text color for headings */
}

ul {
  list-style-type: none; /* Remove bullets from list */
  padding: 0; /* Remove default padding */
}

li {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
  color: white; /* White text for list items */
  width: 100%;
  text-align: center; /* Center text in list items */
}
